<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ECE4564 Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <section class = "row">
      <div class = "col-xs-1 col-sm-1 col-md-2 col-lg-2">
      </div>
      <div class = "col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <header  class = "text-center">
          <h1>COVID-19 Survey</h1>
          <p>By Team 02: Kevin Kleinegger, Spencer Rankin, Andrew Trobman</p>
        </header>
        <main>
         <form action = "http://localhost:5000/deleteAccount" method = "POST">
          <p>Username to Delete<input type = "text" name = "deleteUsername" /></p>
          <p>Password to Delete<input type = "password" name = "deletePassword" /></p>
            <p><input type = "submit" value = "Delete Account?" /></p>
         </form>
         <form action = "http://localhost:5000/homePage" method = "GET">
          <p><input type = "submit" value = "Back to HomePage" /></p>
         </form>
        </main>
  </body>
</html>