<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ECE4564 Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <section class = "row">
      <div class = "col-xs-1 col-sm-1 col-md-2 col-lg-2">
      </div>
      <div class = "col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <header  class = "text-center">
          <h1>COVID-19 Survey</h1>
          <p>By Team 02: Kevin Kleinegger, Spencer Rankin, Andrew Trobman</p>
        </header>
        <main>
          <form action = "http://localhost:5000/Results" method = "POST">
            <p>Welcome to our COVID-19 Survey. Please rate the statements on a scale of 1 to 5 (1 = Not Impactful; 5 = Extremely Impactful)</p>
            <p>1. COVID-19 has impacted my career in a negative way. <input type = "number" min="1" max ="5" value="1" name = "Q1" required/></p>
            <p>2. COVID-19 has impacted my mental health in a negative way. <input type = "number" min="1" max ="5" value="1" name = "Q2" required/></p>
            <p>3. COVID-19 has impacted my physical health in a negative way. <input type = "number" min="1" max ="5" value="1" name = "Q3" required/></p>
            <p>4. COVID-19 has impacted my emotional health in a negative way. <input type = "number" min="1" max ="5" value="1" name = "Q4" required/></p>
            <p>5. COVID-19 has increased my overall stress levels. <input type = "number" min="1" max ="5" value="1" name = "Q5" required/></p>
            <p><input type = "submit" value = "Submit" /></p>
         </form> 
         <form action = "http://localhost:5000/homePage" method = "POST">
          <p><input type = "submit" value = "Back to HomePage" /></p>
       </form> 
        </main>
  </body>
</html>
